@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600;700&display=swap");
* {
    margin: 0;
    box-sizing: border-box;
    font-family: "Source Sans Pro", sans-serif;
}

body {
    background-color: whitesmoke;
}

header {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #e0411c;
}

header .logo {
    max-width: 300px;
    width: auto;
    height: auto;
}

header a {
    background: url("data:image/svg+xml;charset=utf8,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' x='0px' y='0px' width='1px' height='1px' viewBox='0 0 1 1' preserveAspectRatio='none'%3E%3Crect x='0' y='0' width='1' height='1' fill='white' /%3E%3C/svg%3E")
        no-repeat 100% 100%;
    background-size: 100% 50%;
    width: fit-content;
    padding-left: 20px;
    padding-right: 20px;
    text-transform: uppercase;
    color: black;
    text-shadow: 0 1px 1px white;
    font-size: 30px;
    font-weight: 900;
}

header a,
header a:hover,
header a:focus,
header a:active {
    text-decoration: none;
}

header a:hover {
    background: url("data:image/svg+xml;charset=utf8,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' x='0px' y='0px' width='1px' height='1px' viewBox='0 0 1 1' preserveAspectRatio='none'%3E%3Crect x='0' y='0' width='1' height='1' fill='%23FFF7AE' /%3E%3C/svg%3E")
        no-repeat 100% 100%;
    background-size: 100% 50%;
}

header a:active {
    background: url("data:image/svg+xml;charset=utf8,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' x='0px' y='0px' width='1px' height='1px' viewBox='0 0 1 1' preserveAspectRatio='none'%3E%3Crect x='0' y='0' width='1' height='1' fill='%23F6D167' /%3E%3C/svg%3E")
        no-repeat 100% 100%;
    background-size: 100% 50%;
}

#logoMain {
    background: none;
}

.headerRightSide {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.logo {
    height: 150px;
    width: 150px;
}

input,
label {
    display: block;
}

input {
    border-radius: 5px;
    border: 1px solid black;
    width: 170px;
    height: 30px;
}

.asterics {
    color: crimson;
}

.regOrLoginForm {
    display: grid;
    grid-template-rows: max-content;
    gap: 10px;
    justify-content: center;
    justify-items: center;
}

.buttonStyle {
    text-transform: uppercase;
    width: fit-content;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
    letter-spacing: 1px;
    border: none;
    font-size: 20px;
    background-color: #e9554e;
    color: white;
    cursor: pointer;
}

.buttonStyle.small {
    font-size: 15px;
}

.buttonStyle:active {
    background: #ae322c;
}

.mainContainer {
    display: flex;
    min-height: 100vh;
    flex-wrap: wrap;
}

.leftSide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex: 2;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 20px;
    padding-top: 20px;
}

.leftSide h2 {
    text-align: center;
}

.leftSide h1 {
    text-align: center;
}

section + div {
    text-align: center;
    font-weight: bold;
}

.rightSide {
    flex-grow: 3;
    flex-basis: 400px;
    background-image: url("main-img.jpg");
    background-size: cover;
    background-position-x: -35px;
}

.regOrLoginForm button + div {
    text-align: center;
    font-weight: bold;
}

.infoMessagesGrid {
    text-align: center;
    font-weight: bold;
}

.profilePic {
    width: 100px;
    height: 100px;
    cursor: pointer;
    object-fit: cover;
    object-position: center;
    background-color: white;
    border: solid 4px white;
    border-radius: 5px;
}

.profilePicContainer {
    width: 100px;
    height: 100px;
}

.noCursor {
    cursor: default;
}

.loaderContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px black dashed;
}

.profilePicContainerBig > .loaderContainer {
    height: 250px;
    width: 250px;
}
header .loaderContainer {
    height: 100px;
    width: 100px;
    border: none;
    background-color: white;
}

.lds-spinner {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}
.lds-spinner div {
    transform-origin: 40px 40px;
    animation: lds-spinner 1.2s linear infinite;
}
.lds-spinner div:after {
    content: " ";
    display: block;
    position: absolute;
    top: 25px;
    left: 39px;
    width: 3px;
    height: 8px;
    border-radius: 20%;
    background: black;
}
.lds-spinner div:nth-child(1) {
    transform: rotate(0deg);
    animation-delay: -1.1s;
}
.lds-spinner div:nth-child(2) {
    transform: rotate(30deg);
    animation-delay: -1s;
}
.lds-spinner div:nth-child(3) {
    transform: rotate(60deg);
    animation-delay: -0.9s;
}
.lds-spinner div:nth-child(4) {
    transform: rotate(90deg);
    animation-delay: -0.8s;
}
.lds-spinner div:nth-child(5) {
    transform: rotate(120deg);
    animation-delay: -0.7s;
}
.lds-spinner div:nth-child(6) {
    transform: rotate(150deg);
    animation-delay: -0.6s;
}
.lds-spinner div:nth-child(7) {
    transform: rotate(180deg);
    animation-delay: -0.5s;
}
.lds-spinner div:nth-child(8) {
    transform: rotate(210deg);
    animation-delay: -0.4s;
}
.lds-spinner div:nth-child(9) {
    transform: rotate(240deg);
    animation-delay: -0.3s;
}
.lds-spinner div:nth-child(10) {
    transform: rotate(270deg);
    animation-delay: -0.2s;
}
.lds-spinner div:nth-child(11) {
    transform: rotate(300deg);
    animation-delay: -0.1s;
}
.lds-spinner div:nth-child(12) {
    transform: rotate(330deg);
    animation-delay: 0s;
}
@keyframes lds-spinner {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.profileComponent img {
    width: 250px;
    height: 250px;
    border: 10px white solid;
    object-fit: cover;
    object-position: center;
    background-color: white;
}

.profilePicContainerBig {
    width: 250px;
    height: 250px;
}

.modal {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(192, 192, 192, 0.637);
    height: 100%;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
}
.modalContainer {
    position: fixed;
    display: grid;
    background-color: white;
    border: 10px solid white;
    border-radius: 5px;
    width: 400px;
    width: 600px;
    min-height: fit-content;
    max-height: calc(100vh - 60px);
    overflow: scroll;
    justify-items: center;
    gap: 10px;
}

.modalContainer:after {
    content: "";
    display: block;
    height: 20px;
    width: 100%;
}

.closeButton {
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    justify-self: end;
    width: 100%;
    text-align: end;
    padding-right: 10px;
    padding-top: 5px;
}

.modal-close {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

.modalContainer h2 {
    width: 400px;
    text-align: center;
}

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile + label {
    text-transform: uppercase;
    width: 300px;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
    letter-spacing: 1px;
    border: none;
    font-size: 20px;
    background-color: #e9554e;
    color: white;
    cursor: pointer;
    display: inline-block;
}

.inputfile + label svg {
    width: 1em;
    height: 1em;
    vertical-align: middle;
    fill: currentColor;
    margin-top: -0.25em;
    /* 4px */
    margin-right: 0.25em;
    /* 4px */
}

.inputfile + label:active {
    background: #ae322c;
}

.rotateButtonsCont {
    display: flex;
    flex-direction: row;
    gap: 5px;
}
.rotateButton {
    height: 30px;
    width: 30px;
    border-radius: 50%;
}

.scale {
    display: inline-block;
}

.scaleWrapper {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.profileSection {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
}

.profileAndText {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.profileAndText.right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 400px;
    gap: 5px;
}

.mainContainerApp {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.bioContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.bioContainer.leftAlign {
    align-items: flex-start;
}

.bioContainer button {
    width: fit-content;
}

.findPeople {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.organizeNamePhoto {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

.findPeople.organizeNamePhoto img {
    width: 100px;
    height: 100px;
    cursor: default;
    object-fit: cover;
    object-position: center;
}

.findPeople input {
    width: 150px;
}

.imgAndFriendButton {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.imgAndFriendButton button {
    width: 170px;
}

.friendsWannaBeesContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.FriendWannaBeContainer {
    display: flex;
    flex-direction: row;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
}

.friendCard {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.friendCardRightSide a {
    font-weight: bold;
    text-align: center;
}

.firstLastWrapper {
    display: flex;
    flex-grow: 1;
    flex-basis: 40px;
    align-items: center;
}

.friendPhoto {
    width: 100px;
    height: 100px;
    cursor: default;
    object-fit: cover;
    object-position: center;
    border: 1px black solid;
}

.friendCardRightSide {
    width: 200px;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    word-break: break-all;
}

.friendCardRightSide button {
    width: fit-content;
}

.overlay {
    display: none;
}

.linksMenu {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

textarea {
    width: 600px;
    height: 100px;
    resize: none;
}

.bioTextArea {
    width: 300px;
    height: 100px;
    resize: none;
    font-size: 20px;
}

.chatContainer {
    border: 1px solid black;
    height: 300px;
    width: 600px;
    overflow: scroll;
    display: flex;
    flex-direction: column-reverse;
    gap: 10px;
}
.messageCard {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.messageCardLeftSide.photo {
    width: 70px;
    height: 70px;
}

.chatComponent {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.overlayMenu {
    background-color: rgba(192, 192, 192, 0.637);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 25;
}

@media screen and (max-width: 670px) {
    header {
        padding-left: 5px;
    }
    #logoMain {
        padding-left: 0;
    }
    .profileAndText {
        flex-direction: column;
        align-items: center;
    }

    header .logo {
        width: 300px;
        width: auto;
        height: 59.59px;
    }
    .mainContainer {
        width: 100%;
    }
    .rightSide {
        display: none;
    }
    .leftSide {
        background-image: url("main-img.jpg");
        background-size: cover;
        background-position-x: -60px;
        position: relative;
    }

    .logo {
        z-index: 20;
    }

    section,
    .leftSide > h1,
    .leftSide > h2,
    section + div {
        z-index: 20;
    }

    .overlay {
        display: block;
        position: absolute;
        background-color: rgba(231, 231, 231, 0.637);
        width: 100%;
        height: 100%;
        top: 0;
        z-index: 10;
    }
}

.hamburgerMenu {
    cursor: pointer;
}

rect {
    fill: white;
}

@media screen and (max-width: 1199px) {
    header .logo {
        width: 300px;
        width: auto;
        height: 59.59px;
    }
    .linksMenu {
        flex-direction: column;
        align-items: center;
        position: fixed;
        top: 0;
        right: 0;
        height: 100%;
        padding-left: 10px;
        padding-right: 10px;
        background-color: white;
        z-index: 30;
    }

    .show {
        display: flex;
    }
}
