* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: ghostwhite;
}

header {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
}

.logo {
    height: 150px;
}

input,
label {
    display: block;
}

.regOrLoginForm {
    display: grid;
    grid-template-rows: max-content;
    gap: 10px;
    justify-content: center;
    justify-items: center;
}

.mainContainer {
    display: flex;
    min-height: 100vh;
    flex-wrap: wrap;
}

.leftSide {
    background-color: burlywood;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex: 1;
}

.leftSide h2 {
    text-align: center;
}

.leftSide h1 {
    text-align: center;
}

.rightSide {
    background-color: darkkhaki;
    flex-grow: 3;
    flex-basis: 300px;
}

.regOrLoginForm button + div {
    text-align: center;
    font-weight: bold;
}

.infoMessagesGrid {
    text-align: center;
    font-weight: bold;
}

.profilePic {
    width: 100px;
    height: 100px;
    cursor: pointer;
}

.noCursor {
    cursor: default;
}

.loaderContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px black dashed;
}

.profileAndText > .loaderContainer {
    height: 250px;
    width: 250px;
}
header > .loaderContainer {
    height: 100px;
    width: 100px;
}

.lds-spinner {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}
.lds-spinner div {
    transform-origin: 40px 40px;
    animation: lds-spinner 1.2s linear infinite;
}
.lds-spinner div:after {
    content: " ";
    display: block;
    position: absolute;
    top: 25px;
    left: 39px;
    width: 3px;
    height: 8px;
    border-radius: 20%;
    background: black;
}
.lds-spinner div:nth-child(1) {
    transform: rotate(0deg);
    animation-delay: -1.1s;
}
.lds-spinner div:nth-child(2) {
    transform: rotate(30deg);
    animation-delay: -1s;
}
.lds-spinner div:nth-child(3) {
    transform: rotate(60deg);
    animation-delay: -0.9s;
}
.lds-spinner div:nth-child(4) {
    transform: rotate(90deg);
    animation-delay: -0.8s;
}
.lds-spinner div:nth-child(5) {
    transform: rotate(120deg);
    animation-delay: -0.7s;
}
.lds-spinner div:nth-child(6) {
    transform: rotate(150deg);
    animation-delay: -0.6s;
}
.lds-spinner div:nth-child(7) {
    transform: rotate(180deg);
    animation-delay: -0.5s;
}
.lds-spinner div:nth-child(8) {
    transform: rotate(210deg);
    animation-delay: -0.4s;
}
.lds-spinner div:nth-child(9) {
    transform: rotate(240deg);
    animation-delay: -0.3s;
}
.lds-spinner div:nth-child(10) {
    transform: rotate(270deg);
    animation-delay: -0.2s;
}
.lds-spinner div:nth-child(11) {
    transform: rotate(300deg);
    animation-delay: -0.1s;
}
.lds-spinner div:nth-child(12) {
    transform: rotate(330deg);
    animation-delay: 0s;
}
@keyframes lds-spinner {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.profileComponent img {
    width: 250px;
    height: 250px;
    border: 1px rgb(195, 195, 195) dashed;
}

.modal {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(81, 183, 230, 0.603);
    height: 100%;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
}
.modalContainer {
    position: fixed;
    display: grid;
    background-color: burlywood;
    width: fit-content;
    min-height: fit-content;
    max-height: calc(100vh - 60px);
    overflow: scroll;
    justify-items: center;
    gap: 10px;
}

.modalContainer:after {
    content: "";
    display: block;
    height: 20px;
    width: 100%;
}

.closeButton {
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    justify-self: end;
}

.modal-close {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

.modalContainer h2 {
    width: 400px;
    text-align: center;
}

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile + label {
    text-shadow: 3px 0 10px #ff94b8;
    background-color: transparent;
    display: inline-block;
    cursor: pointer;
}

.inputfile:focus + label,
.inputfile + label:hover {
    color: purple;
}

.inputfile + label svg {
    width: 1em;
    height: 1em;
    vertical-align: middle;
    fill: currentColor;
    margin-top: -0.25em;
    /* 4px */
    margin-right: 0.25em;
    /* 4px */
}

.rotateButton {
    border-radius: 50%;
}

.scale {
    display: inline-block;
}

.scaleWrapper {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.profileSection {
    padding-left: 30px;
}

.profileAndText {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.profileAndText.right {
    display: flex;
    flex-direction: column;
}

.mainContainerApp {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.bioContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.bioContainer button {
    width: fit-content;
}
