* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: ghostwhite;
}

.logo {
    width: 300px;
}

input,
label {
    display: block;
}

.regOrLoginForm {
    display: grid;
    grid-template-rows: max-content;
    gap: 10px;
    justify-content: center;
    justify-items: center;
}

.mainContainer {
    display: flex;
    min-height: 100vh;
    flex-wrap: wrap;
}

.leftSide {
    background-color: burlywood;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex: 1;
}

.leftSide h2 {
    text-align: center;
}

.leftSide h1 {
    text-align: center;
}

.rightSide {
    background-color: darkkhaki;
    flex-grow: 3;
    flex-basis: 300px;
}

.regOrLoginForm button + div {
    text-align: center;
    font-weight: bold;
}

.infoMessagesGrid {
    text-align: center;
    font-weight: bold;
}

.profilePic {
    width: 120px;
}

.loader {
    border: 16px solid red; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.profileComponent img {
    width: 300px;
}

.modal {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(81, 183, 230, 0.603);
    width: 100%;
    height: 100vh;
}
.modalContainer {
    position: fixed;
    display: grid;
    grid-template-rows: 20px 100px 100px;
    background-color: burlywood;
    width: 500px;
    height: 320px;
    justify-items: center;
}

.closeButton {
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    justify-self: end;
}
